In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/dataframe_geocoded.csv',low_memory=False,encoding='iso-8859-1',on_bad_lines='skip',sep=';')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863638 entries, 0 to 863637
Data columns (total 38 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0.1                 863638 non-null  int64
 1   Unnamed: 0_x                 863638 non-null  int64
 2   Azonosito                    863638 non-null  int64
 3   autosajanlatID               863638 non-null  int64
 4   no_reserver_seats            863638 non-null  int64
 5   passenger_gender             863638 non-null  object
 6   passenger_registration_date  858840 non-null  object
 7   passenger_age                863638 non-null  int64
 8   passenger_job                215863 non-null  object
 9   segedID                      863638 non-null  int64
 10  year_of_trip                 863638 non-null  int64
 11  origin_city                  863638 non-null  object
 12  origin_country               863638 non-null  object
 13  erkezesi ido                 863638 non-null  object
 14  destination_city             863638 non-null  object
 15  destination_country          863638 non-null  object
 16  trip_fee                     863638 non-null  int64
 17  currency                     863638 non-null  object
 18  national_or_international    863638 non-null  object
 19  booking_interval             863638 non-null  int64
 20  business_or_non_business     863638 non-null  object
 21  car_year_of_production       863638 non-null  int64
 22  car_age                      863638 non-null  int64
 23  driver_gender                863638 non-null  object
 24  date_of_offer                863638 non-null  object
 25  max_no_of_passengers         863638 non-null  int64
 26  driver_registration_date     832029 non-null  object
 27  reservation_time             863638 non-null  object
 28  journey_start_time           863638 non-null  object
 29  passenger_birth_date         420203 non-null  object
 30  Unnamed: 0_y                 863638 non-null  int64
 31  0_x                          863638 non-null  object
 32  Longitude_x                  863532 non-null  float64
 33  Latitude_x                   863532 non-null  float64
 34  Unnamed: 0                   863638 non-null  int64
 35  0_y                          863638 non-null  object
 36  Longitude_y                  863462 non-null  float64
 37  Latitude_y                   863462 non-null  float64
dtypes: float64(4), int64(15), object(19)
memory usage: 250.4+ MB

In [10]:
df.head()

,Unnamed: 0.1,Unnamed: 0_x,Azonosito,autosajanlatID,no_reserver_seats,passenger_gender,passenger_registration_date,passenger_age,passenger_job,segedID,...,journey_start_time,passenger_birth_date,Unnamed: 0_y,0_x,Longitude_x,Latitude_x,Unnamed: 0,0_y,Longitude_y,Latitude_y
0,0,0,3,293,1,no,2007-12-29,36,NaN,121,...,2008.01.06 17:30:00.0000000,1982-10-01,0,Miskolc,20.790043,48.103064,0,Budapest,19.040359,47.497994
1,1,64,82,2030,1,no,2008-02-24,44,mÃ©rnÃ¶k,906,...,2008.02.25 14:30:00.0000000,1974-08-20,0,Miskolc,20.790043,48.103064,0,Budapest,19.040359,47.497994
2,2,71,32,1064,1,no,2007-12-11,34,hitoktatÃ³,427,...,2008.03.02 19:15:00.0000000,1984-12-18,0,Miskolc,20.790043,48.103064,0,Budapest,19.040359,47.497994
3,3,74,85,2184,1,no,2008-01-28,30,fÃµiskolai hallgatÃ³,984,...,2008.03.03 14:00:00.0000000,1988-01-05,0,Miskolc,20.790043,48.103064,0,Budapest,19.040359,47.497994
4,4,85,75,1886,1,no,2008-02-13,118,NaN,839,...,2008.03.09 16:00:00.0000000,NaN,0,Miskolc,20.790043,48.103064,0,Budapest,19.040359,47.497994

In [11]:
df = df.drop('Unnamed: 0',axis=1)

In [12]:
df = df.drop('Unnamed: 0.1',axis=1)
df = df.drop('Unnamed: 0_y',axis=1)

In [13]:
df = df.drop('Unnamed: 0_x',axis=1)

In [16]:
df = df.drop('origin_city',axis=1)

In [17]:
df.rename(columns={'0_x':'origin_city'},inplace=True)

In [18]:
df = df.drop('destination_city',axis=1)

In [19]:
df.rename(columns={'0_y':'destination_city'},inplace=True)

In [20]:
df.head()

,Azonosito,autosajanlatID,no_reserver_seats,passenger_gender,passenger_registration_date,passenger_age,passenger_job,segedID,year_of_trip,origin_country,...,driver_registration_date,reservation_time,journey_start_time,passenger_birth_date,origin_city,Longitude_x,Latitude_x,destination_city,Longitude_y,Latitude_y
0,3,293,1,no,2007-12-29,36,NaN,121,2008,hu,...,2008-01-04,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000,1982-10-01,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
1,82,2030,1,no,2008-02-24,44,mÃ©rnÃ¶k,906,2008,hu,...,2007-12-11,2008.02.25 08:25:26.000,2008.02.25 14:30:00.0000000,1974-08-20,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
2,32,1064,1,no,2007-12-11,34,hitoktatÃ³,427,2008,hu,...,2008-01-04,2008.02.29 19:14:58.000,2008.03.02 19:15:00.0000000,1984-12-18,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
3,85,2184,1,no,2008-01-28,30,fÃµiskolai hallgatÃ³,984,2008,hu,...,2008-01-28,2008.03.03 07:51:17.000,2008.03.03 14:00:00.0000000,1988-01-05,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
4,75,1886,1,no,2008-02-13,118,NaN,839,2008,hu,...,2008-01-29,2008.03.07 12:32:32.000,2008.03.09 16:00:00.0000000,NaN,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863638 entries, 0 to 863637
Data columns (total 32 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Azonosito                    863638 non-null  int64
 1   autosajanlatID               863638 non-null  int64
 2   no_reserver_seats            863638 non-null  int64
 3   passenger_gender             863638 non-null  object
 4   passenger_registration_date  858840 non-null  object
 5   passenger_age                863638 non-null  int64
 6   passenger_job                215863 non-null  object
 7   segedID                      863638 non-null  int64
 8   year_of_trip                 863638 non-null  int64
 9   origin_country               863638 non-null  object
 10  erkezesi ido                 863638 non-null  object
 11  destination_country          863638 non-null  object
 12  trip_fee                     863638 non-null  int64
 13  currency                     863638 non-null  object
 14  national_or_international    863638 non-null  object
 15  booking_interval             863638 non-null  int64
 16  business_or_non_business     863638 non-null  object
 17  car_year_of_production       863638 non-null  int64
 18  car_age                      863638 non-null  int64
 19  driver_gender                863638 non-null  object
 20  date_of_offer                863638 non-null  object
 21  max_no_of_passengers         863638 non-null  int64
 22  driver_registration_date     832029 non-null  object
 23  reservation_time             863638 non-null  object
 24  journey_start_time           863638 non-null  object
 25  passenger_birth_date         420203 non-null  object
 26  origin_city                  863638 non-null  object
 27  Longitude_x                  863532 non-null  float64
 28  Latitude_x                   863532 non-null  float64
 29  destination_city             863638 non-null  object
 30  Longitude_y                  863462 non-null  float64
 31  Latitude_y                   863462 non-null  float64
dtypes: float64(4), int64(11), object(17)
memory usage: 210.8+ MB

In [22]:
# dataframe split to spatial analysis
df_spatial = df[['no_reserver_seats','max_no_of_passengers','origin_country','origin_city','Longitude_x','Latitude_x','destination_country','destination_city','Longitude_y','Latitude_y','trip_fee','currency','business_or_non_business','date_of_offer','booking_interval','reservation_time','journey_start_time','erkezesi ido']].copy()

In [23]:
df_spatial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863638 entries, 0 to 863637
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   no_reserver_seats         863638 non-null  int64
 1   max_no_of_passengers      863638 non-null  int64
 2   origin_country            863638 non-null  object
 3   origin_city               863638 non-null  object
 4   Longitude_x               863532 non-null  float64
 5   Latitude_x                863532 non-null  float64
 6   destination_country       863638 non-null  object
 7   destination_city          863638 non-null  object
 8   Longitude_y               863462 non-null  float64
 9   Latitude_y                863462 non-null  float64
 10  trip_fee                  863638 non-null  int64
 11  currency                  863638 non-null  object
 12  business_or_non_business  863638 non-null  object
 13  date_of_offer             863638 non-null  object
 14  booking_interval          863638 non-null  int64
 15  reservation_time          863638 non-null  object
 16  journey_start_time        863638 non-null  object
 17  erkezesi ido              863638 non-null  object
dtypes: float64(4), int64(4), object(10)
memory usage: 118.6+ MB

In [24]:
df_spatial # export dataframe into csv

,no_reserver_seats,max_no_of_passengers,origin_country,origin_city,Longitude_x,Latitude_x,destination_country,destination_city,Longitude_y,Latitude_y,trip_fee,currency,business_or_non_business,date_of_offer,booking_interval,reservation_time,journey_start_time,erkezesi ido
0,1,3,hu,Miskolc,20.790043,48.103064,hu,Budapest,19.040359,47.497994,0,HUF,magan,2008-01-04,1,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000,19:30:00.0000000
1,1,3,hu,Miskolc,20.790043,48.103064,hu,Budapest,19.040359,47.497994,0,HUF,magan,2008-02-24,0,2008.02.25 08:25:26.000,2008.02.25 14:30:00.0000000,16:30:00.0000000
2,1,2,hu,Miskolc,20.790043,48.103064,hu,Budapest,19.040359,47.497994,0,HUF,magan,2008-02-01,2,2008.02.29 19:14:58.000,2008.03.02 19:15:00.0000000,21:00:00.0000000
3,1,3,hu,Miskolc,20.790043,48.103064,hu,Budapest,19.040359,47.497994,1000,HUF,magan,2008-03-01,0,2008.03.03 07:51:17.000,2008.03.03 14:00:00.0000000,17:00:00.0000000
4,1,2,hu,Miskolc,20.790043,48.103064,hu,Budapest,19.040359,47.497994,1000,HUF,magan,2008-02-20,2,2008.03.07 12:32:32.000,2008.03.09 16:00:00.0000000,18:00:00.0000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863633,1,4,hu,KisdÃ©r,18.128050,45.939838,hu,AranyosgadÃ¡ny,18.119162,46.007912,200,HUF,magan,2015-09-24,0,2015.09.24 17:17:22.000,2015.09.24 17:20:00.0000000,17:42:00.0000000
863634,1,3,hu,Pusztaszabolcs,18.757609,47.138578,de,Oyten,9.018866,53.059451,18000,HUF,magan,2015-09-17,2,2015.09.23 13:49:53.000,2015.09.25 05:00:00.0000000,15:45:00.0000000
863635,1,4,de,Fischen,11.154830,47.928486,hu,NyirÃ¡d,17.454559,47.005442,8400,HUF,magan,2015-08-04,2,2015.09.29 18:37:22.000,2015.10.01 15:15:00.0000000,22:00:00.0000000
863636,1,1,hu,KislÃµd,17.621727,47.144669,hu,BakonyszentlÃ¡szlÃ³,17.804337,47.390744,700,HUF,magan,2015-08-13,4,2015.10.08 23:13:13.000,2015.10.12 10:00:00.0000000,11:00:00.0000000
863637,1,1,hu,KislÃµd,17.621727,47.144669,hu,BakonyszentlÃ¡szlÃ³,17.804337,47.390744,700,HUF,magan,2015-09-03,6,2015.10.27 22:48:18.000,2015.11.02 10:00:00.0000000,11:00:00.0000000