In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/df_spatial.csv',sep=';',low_memory=False,encoding='iso-8859-1',on_bad_lines='skip')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863638 entries, 0 to 863637
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                863638 non-null  int64
 1   no_reserver_seats         863638 non-null  int64
 2   max_no_of_passengers      863638 non-null  int64
 3   origin_country            863638 non-null  object
 4   origin_city               863638 non-null  object
 5   Longitude_x               863532 non-null  float64
 6   Latitude_x                863532 non-null  float64
 7   destination_country       863638 non-null  object
 8   destination_city          863638 non-null  object
 9   Longitude_y               863462 non-null  float64
 10  Latitude_y                863462 non-null  float64
 11  trip_fee                  863638 non-null  int64
 12  currency                  863638 non-null  object
 13  business_or_non_business  863638 non-null  object
 14  date_of_offer             863638 non-null  object
 15  booking_interval          863638 non-null  int64
 16  reservation_time          863638 non-null  object
 17  journey_start_time        863638 non-null  object
 18  erkezesi ido              863638 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 125.2+ MB

In [5]:
relations = df[['origin_city','Longitude_x','Latitude_x','destination_city','Longitude_y','Latitude_y']].copy()

In [6]:
relations

,origin_city,Longitude_x,Latitude_x,destination_city,Longitude_y,Latitude_y
0,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
1,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
2,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
3,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
4,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
...,...,...,...,...,...,...
863633,KisdÃÂ©r,18.128050,45.939838,AranyosgadÃÂ¡ny,18.119162,46.007912
863634,Pusztaszabolcs,18.757609,47.138578,Oyten,9.018866,53.059451
863635,Fischen,11.154830,47.928486,NyirÃÂ¡d,17.454559,47.005442
863636,KislÃÂµd,17.621727,47.144669,BakonyszentlÃÂ¡szlÃÂ³,17.804337,47.390744
863637,KislÃÂµd,17.621727,47.144669,BakonyszentlÃÂ¡szlÃÂ³,17.804337,47.390744