In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('../data/df_spatial.csv',sep=';',low_memory=False,encoding='utf-8',on_bad_lines='skip')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863638 entries, 0 to 863637
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                863638 non-null  int64
 1   no_reserver_seats         863638 non-null  int64
 2   max_no_of_passengers      863638 non-null  int64
 3   origin_country            863638 non-null  object
 4   origin_city               863638 non-null  object
 5   Longitude_x               863532 non-null  float64
 6   Latitude_x                863532 non-null  float64
 7   destination_country       863638 non-null  object
 8   destination_city          863638 non-null  object
 9   Longitude_y               863462 non-null  float64
 10  Latitude_y                863462 non-null  float64
 11  trip_fee                  863638 non-null  int64
 12  currency                  863638 non-null  object
 13  business_or_non_business  863638 non-null  object
 14  date_of_offer             863638 non-null  object
 15  booking_interval          863638 non-null  int64
 16  reservation_time          863638 non-null  object
 17  journey_start_time        863638 non-null  object
 18  erkezesi ido              863638 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 125.2+ MB

In [15]:
relations = df[['origin_city','Longitude_x','Latitude_x','destination_city','Longitude_y','Latitude_y']].copy()

In [16]:
relations

,origin_city,Longitude_x,Latitude_x,destination_city,Longitude_y,Latitude_y
0,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
1,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
2,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
3,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
4,Miskolc,20.790043,48.103064,Budapest,19.040359,47.497994
...,...,...,...,...,...,...
863633,KisdÃ©r,18.128050,45.939838,AranyosgadÃ¡ny,18.119162,46.007912
863634,Pusztaszabolcs,18.757609,47.138578,Oyten,9.018866,53.059451
863635,Fischen,11.154830,47.928486,NyirÃ¡d,17.454559,47.005442
863636,KislÃµd,17.621727,47.144669,BakonyszentlÃ¡szlÃ³,17.804337,47.390744
863637,KislÃµd,17.621727,47.144669,BakonyszentlÃ¡szlÃ³,17.804337,47.390744

In [17]:
relations_withoutcoord = relations[['origin_city','destination_city']].copy()

In [18]:
relations_withoutcoord['relations'] = relations_withoutcoord['origin_city'].astype(str) +" - "+ df['destination_city']

In [19]:
relations_withoutcoord

           origin_city     destination_city                      relations
0              Miskolc             Budapest             Miskolc - Budapest
1              Miskolc             Budapest             Miskolc - Budapest
2              Miskolc             Budapest             Miskolc - Budapest
3              Miskolc             Budapest             Miskolc - Budapest
4              Miskolc             Budapest             Miskolc - Budapest
...                ...                  ...                            ...
863633         KisdÃ©r       AranyosgadÃ¡ny       KisdÃ©r - AranyosgadÃ¡ny
863634  Pusztaszabolcs                Oyten         Pusztaszabolcs - Oyten
863635         Fischen              NyirÃ¡d              Fischen - NyirÃ¡d
863636         KislÃµd  BakonyszentlÃ¡szlÃ³  KislÃµd - BakonyszentlÃ¡szlÃ³
863637         KislÃµd  BakonyszentlÃ¡szlÃ³  KislÃµd - BakonyszentlÃ¡szlÃ³

[863638 rows x 3 columns]

In [20]:
relations_withoutcoord['relations'].value_counts()
# most popular relations

PÃ©cs - Budapest             75296
Budapest - PÃ©cs             73409
Szeged - Budapest            66341
Budapest - Szeged            64957
Miskolc - Budapest           53870
                             ...
Szeged - Ludwigsburg             1
SfÃ¢ntu Gheorghe - Wien          1
Miskolc - Ludwigsburg            1
NyergesÃºjfalu - Wien            1
Braunau Am Inn - Hannover        1
Name: relations, Length: 10462, dtype: int64