In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/data_preprocessed_v02_working')
origin = pd.read_csv('../results/origins_geocoded.csv')
destination = pd.read_csv('../results/destinations_geocoded.csv')

In [15]:
origin

      Unnamed: 0           0  Longitude   Latitude
0              0     Miskolc  20.790043  48.103064
1              1    Budapest  19.040359  47.497994
2              2   Kecskemét  19.692807  46.908079
3              3    Debrecen  21.625978  47.531399
4              4        Eger  20.374367  47.898989
...          ...         ...        ...        ...
1570        1570       Gelej  20.773319  47.829957
1571        1571  Nordhausen  10.792532  51.505157
1572        1572   Hajmáskér  18.014268  47.144469
1573        1573      Trento  11.129742  46.102954
1574        1574      Gemzse  22.194257  48.139532

[1575 rows x 4 columns]

In [24]:
origin_lon = origin.drop('Unnamed: 0',axis=1)

In [25]:
origin_lon = origin_lon.drop('Latitude',axis=1)

In [32]:
origin_lon_dict = origin_lon.to_dict()

In [34]:
df['origin_city_lon'] = df['origin_city'].map(origin_lon_dict)

In [35]:
df

,Unnamed: 0,Azonosito,autosajanlatID,no_reserver_seats,passenger_gender,passenger_registration_date,passenger_age,passenger_job,segedID,year_of_trip,...,car_year_of_production,car_age,driver_gender,date_of_offer,max_no_of_passengers,driver_registration_date,reservation_time,journey_start_time,passenger_birth_date,origin_city_lon
0,0,3,293,1,no,2007-12-29,36,NaN,121,2008,...,2007,11,no,2008-01-04,3,2008-01-04,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000,1982-10-01,NaN
1,1,7,405,1,ffi,2007-11-28,34,Gépészmérnök,164,2008,...,2007,11,ffi,2008-01-11,3,2007-12-21,2008.01.11 19:00:16.000,2008.01.16 07:00:00.0000000,1984-08-16,NaN
2,2,8,440,1,ffi,2008-01-02,33,NaN,180,2008,...,2006,12,ffi,2008-01-15,4,2007-11-26,2008.01.16 00:01:00.000,2008.01.17 21:30:00.0000000,1985-01-11,NaN
3,3,9,442,1,no,2007-11-27,36,árazó,180,2008,...,2006,12,ffi,2008-01-15,4,2007-11-26,2008.01.16 09:34:21.000,2008.01.17 21:30:00.0000000,1982-09-04,NaN
4,4,10,442,1,ffi,2007-11-26,34,mérnök,180,2008,...,2006,12,ffi,2008-01-15,4,2007-11-26,2008.01.16 09:46:36.000,2008.01.17 21:30:00.0000000,1984-07-17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863633,863647,868218,23063266,1,ffi,2013-12-04,118,NaN,2820073,2015,...,2010,8,ffi,2015-12-31,4,2012-08-01,2015.12.30 21:18:21.000,2015.12.31 19:30:00.0000000,NaN,NaN
863634,863648,868219,23063266,1,ffi,2015-10-29,118,NaN,2820073,2015,...,2010,8,ffi,2015-12-31,4,2012-08-01,2015.12.31 17:53:36.000,2015.12.31 19:30:00.0000000,NaN,NaN
863635,863649,868220,23066932,1,no,2015-09-27,30,NaN,2820193,2015,...,2000,18,ffi,2015-12-31,3,2015-11-22,2015.12.31 17:02:36.000,2015.12.31 19:37:00.0000000,1988-01-14,NaN
863636,863650,868221,23068405,1,no,2015-03-04,118,NaN,2820337,2015,...,2003,15,ffi,2015-12-31,4,2015-08-07,2015.12.31 19:09:49.000,2015.12.31 19:45:00.0000000,NaN,NaN
863637,863651,868222,23074756,1,no,2015-12-31,118,NaN,2820961,2015,...,2007,11,ffi,2015-12-31,3,2015-10-02,2015.12.31 12:19:34.000,2015.12.31 23:15:00.0000000,NaN,NaN

In [38]:
# Create a new dataframe with the unique city names and coordinates
geocoded_df = pd.DataFrame({'origin_city': df['origin_city'], 'longitude': origin_lon['Longitude']})

# Use the Pandas merge() function to join the coords_df with the original dataframe on the 'origin_city' column
merged_df = pd.merge(df, origin_lon, on=df['origin_city'])

KeyError: 0           Miskolc
1          Budapest
2          Budapest
3          Budapest
4          Budapest
            ...
863633       Szeged
863634       Szeged
863635      Miskolc
863636    Szekszárd
863637     Budapest
Name: origin_city, Length: 863638, dtype: object