In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('../data/data_preprocessed_v02_working')

In [8]:
df = df.drop('Azonosito',axis=1)

In [9]:
df = df.drop('segedID',axis=1)

In [12]:
df = df.drop('autosajanlatID',axis=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863638 entries, 0 to 863637
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   863638 non-null  int64
 1   no_reserver_seats            863638 non-null  int64
 2   passenger_gender             863638 non-null  object
 3   passenger_registration_date  858840 non-null  object
 4   passenger_age                863638 non-null  int64
 5   passenger_job                215863 non-null  object
 6   year_of_trip                 863638 non-null  int64
 7   origin_city                  863638 non-null  object
 8   origin_country               863638 non-null  object
 9   erkezesi ido                 863638 non-null  object
 10  destination_city             863638 non-null  object
 11  destination_country          863638 non-null  object
 12  trip_fee                     863638 non-null  int64
 13  currency                     863638 non-null  object
 14  national_or_international    863638 non-null  object
 15  booking_interval             863638 non-null  int64
 16  business_or_non_business     863638 non-null  object
 17  car_year_of_production       863638 non-null  int64
 18  car_age                      863638 non-null  int64
 19  driver_gender                863638 non-null  object
 20  date_of_offer                863638 non-null  object
 21  max_no_of_passengers         863638 non-null  int64
 22  driver_registration_date     832029 non-null  object
 23  reservation_time             863638 non-null  object
 24  journey_start_time           863638 non-null  object
 25  passenger_birth_date         420203 non-null  object
dtypes: int64(9), object(17)
memory usage: 171.3+ MB

In [14]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,863638.0,431828.643300,249315.352538,0.0,215916.25,431832.5,647741.75,863651.0
no_reserver_seats,863638.0,1.147034,0.410242,0.0,1.00,1.0,1.00,12.0
passenger_age,863638.0,77.596164,42.031594,14.0,32.00,118.0,118.00,118.0
year_of_trip,863638.0,2014.229108,1.001627,2008.0,2014.00,2015.0,2015.00,2015.0
trip_fee,863638.0,2555.828748,3296.921032,0.0,1800.00,2000.0,2500.00,391500.0
booking_interval,863638.0,1.948201,3.196444,0.0,1.00,1.0,2.00,384.0
car_year_of_production,863638.0,2004.673453,6.589830,0.0,2002.00,2005.0,2008.00,2016.0
car_age,863638.0,13.326547,6.589830,2.0,10.00,13.0,16.00,2018.0
max_no_of_passengers,863638.0,3.562831,1.653172,-1.0,3.00,3.0,4.00,52.0