In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/data_preprocessed_v02_working')

In [3]:
df.head().transpose()

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Azonosito,3,7,8,9,10
autosajanlatID,293,405,440,442,442
no_reserver_seats,1,1,1,1,1
passenger_gender,no,ffi,ffi,no,ffi
passenger_registration_date,2007-12-29,2007-11-28,2008-01-02,2007-11-27,2007-11-26
passenger_age,36,34,33,36,34
passenger_job,NaN,Gépészmérnök,NaN,árazó,mérnök
segedID,121,164,180,180,180
year_of_trip,2008,2008,2008,2008,2008
origin_city,Miskolc,Budapest,Budapest,Budapest,Budapest
origin_country,hu,hu,hu,hu,hu
erkezesi ido,19:30:00.0000000,09:00:00.0000000,22:45:00.0000000,00:00:00.0000000,00:00:00.0000000
destination_city,Budapest,Szolnok,Gyõr,Szombathely,Szombathely
destination_country,hu,hu,hu,hu,hu
trip_fee,0,0,0,0,0
currency,HUF,HUF,HUF,HUF,HUF
national_or_international,hazai,hazai,hazai,hazai,hazai
booking_interval,1,5,1,1,1
business_or_non_business,magan,magan,magan,magan,magan
car_year_of_production,2007,2007,2006,2006,2006
car_age,11,11,12,12,12
driver_gender,no,ffi,ffi,ffi,ffi
date_of_offer,2008-01-04,2008-01-11,2008-01-15,2008-01-15,2008-01-15
max_no_of_passengers,3,3,4,4,4
driver_registration_date,2008-01-04,2007-12-21,2007-11-26,2007-11-26,2007-11-26
reservation_time,2008.01.05 22:17:59.000,2008.01.11 19:00:16.000,2008.01.16 00:01:00.000,2008.01.16 09:34:21.000,2008.01.16 09:46:36.000
journey_start_time,2008.01.06 17:30:00.0000000,2008.01.16 07:00:00.0000000,2008.01.17 21:30:00.0000000,2008.01.17 21:30:00.0000000,2008.01.17 21:30:00.0000000
passenger_birth_date,1982-10-01,1984-08-16,1985-01-11,1982-09-04,1984-07-17

In [4]:
origins = df['origin_city']
destinations = df['destination_city']

In [7]:
origins = pd.DataFrame(origins)

In [8]:
destinations = pd.DataFrame(destinations)

In [9]:
relations = origins.join(destinations)

In [10]:
relations

       origin_city destination_city
0          Miskolc         Budapest
1         Budapest          Szolnok
2         Budapest             Gyõr
3         Budapest      Szombathely
4         Budapest      Szombathely
...            ...              ...
863633      Szeged         Budapest
863634      Szeged         Budapest
863635     Miskolc         Budapest
863636   Szekszárd           Mohács
863637    Budapest             Eger

[863638 rows x 2 columns]

In [11]:
origins_geocoded = pd.read_csv('../results/origins_geocoded.csv')

In [14]:
origins_geocoded

      Unnamed: 0           0  Longitude   Latitude
0              0     Miskolc  20.790043  48.103064
1              1    Budapest  19.040359  47.497994
2              2   Kecskemét  19.692807  46.908079
3              3    Debrecen  21.625978  47.531399
4              4        Eger  20.374367  47.898989
...          ...         ...        ...        ...
1570        1570       Gelej  20.773319  47.829957
1571        1571  Nordhausen  10.792532  51.505157
1572        1572   Hajmáskér  18.014268  47.144469
1573        1573      Trento  11.129742  46.102954
1574        1574      Gemzse  22.194257  48.139532

[1575 rows x 4 columns]

In [12]:
destinations_geocoded = pd.read_csv('../results/destinations_geocoded.csv')

In [15]:
merged_df = pd.merge(df,origins_geocoded,left_on='origin_city',right_on='0')

In [17]:
data_with_relations = pd.merge(merged_df,destinations_geocoded,left_on='destination_city',right_on='0')

In [21]:
data_with_relations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 863638 entries, 0 to 863637
Data columns (total 37 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0_x                 863638 non-null  int64
 1   Azonosito                    863638 non-null  int64
 2   autosajanlatID               863638 non-null  int64
 3   no_reserver_seats            863638 non-null  int64
 4   passenger_gender             863638 non-null  object
 5   passenger_registration_date  858840 non-null  object
 6   passenger_age                863638 non-null  int64
 7   passenger_job                215863 non-null  object
 8   segedID                      863638 non-null  int64
 9   year_of_trip                 863638 non-null  int64
 10  origin_city                  863638 non-null  object
 11  origin_country               863638 non-null  object
 12  erkezesi ido                 863638 non-null  object
 13  destination_city             863638 non-null  object
 14  destination_country          863638 non-null  object
 15  trip_fee                     863638 non-null  int64
 16  currency                     863638 non-null  object
 17  national_or_international    863638 non-null  object
 18  booking_interval             863638 non-null  int64
 19  business_or_non_business     863638 non-null  object
 20  car_year_of_production       863638 non-null  int64
 21  car_age                      863638 non-null  int64
 22  driver_gender                863638 non-null  object
 23  date_of_offer                863638 non-null  object
 24  max_no_of_passengers         863638 non-null  int64
 25  driver_registration_date     832029 non-null  object
 26  reservation_time             863638 non-null  object
 27  journey_start_time           863638 non-null  object
 28  passenger_birth_date         420203 non-null  object
 29  Unnamed: 0_y                 863638 non-null  int64
 30  0_x                          863638 non-null  object
 31  Longitude_x                  863532 non-null  float64
 32  Latitude_x                   863532 non-null  float64
 33  Unnamed: 0                   863638 non-null  int64
 34  0_y                          863638 non-null  object
 35  Longitude_y                  863462 non-null  float64
 36  Latitude_y                   863462 non-null  float64
dtypes: float64(4), int64(14), object(19)
memory usage: 250.4+ MB

In [22]:
data_with_relations.to_csv()