In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/raw_data_2.csv',encoding='ISO-8859-1', on_bad_lines='skip',delimiter=';',low_memory=False)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863652 entries, 0 to 863651
Data columns (total 29 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Azonosito                                      863652 non-null  int64
 1   autosajanlatID                                 863652 non-null  int64
 2   no_reserver_seats                              863652 non-null  int64
 3   passenger_gender                               863652 non-null  object
 4   passenger_registration_date                    858854 non-null  datetime64[ns]
 5   passenger_age                                  863652 non-null  int64
 6   passenger_job                                  215865 non-null  object
 7   segedID                                        863652 non-null  int64
 8   year_of_trip                                   863652 non-null  int64
 9   origin_city                                    863652 non-null  object
 10  origin_country                                 863652 non-null  object
 11  erkezesi ido                                   863652 non-null  object
 12  destination_city                               863652 non-null  object
 13  destination_country                            863652 non-null  object
 14  trip_fee                                       863652 non-null  int64
 15  currency                                       863652 non-null  object
 16  hazai vagy nemzetkozi                          863652 non-null  object
 17  foglalási napok (utazas napja-foglalas napja)  863652 non-null  int64
 18  magan vagy uzleti                              863652 non-null  object
 19  autok gyartasi eve                             863652 non-null  object
 20  autok életkora                                 863652 non-null  object
 21  sofor neme                                     863652 non-null  object
 22  sofõr szuletesi ideje                          489253 non-null  object
 23  date_of_offer                                  863652 non-null  datetime64[ns]
 24  max utasszám                                   863652 non-null  int64
 25  sofor reg datuma                               832042 non-null  object
 26  reservation_time                               863652 non-null  object
 27  journey_start_time                             863652 non-null  object
 28  passenger_birth_date                           420208 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(9), object(17)
memory usage: 191.1+ MB

In [61]:
df.head()

,Azonosito,autosajanlatID,no_reserver_seats,passenger_gender,passenger_registration_date,passenger_age,passenger_job,segedID,year_of_trip,origin_city,...,autok gyartasi eve,autok életkora,sofor neme,sofõr szuletesi ideje,date_of_offer,max utasszám,sofor reg datuma,reservation_time,journey_start_time,passenger_birth_date
0,3,293,1,no,2007-12-29,36,NaN,121,2008,Miskolc,...,2007,11,no,1979.07.04,2008-01-04,3,2008-01-04,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000,1982-10-01
1,7,405,1,ffi,2007-11-28,34,Gépészmérnök,164,2008,Budapest,...,2007,11,ffi,1976.06.19,2008-01-11,3,2007-12-21,2008.01.11 19:00:16.000,2008.01.16 07:00:00.0000000,1984-08-16
2,8,440,1,ffi,2008-01-02,33,NaN,180,2008,Budapest,...,2006,12,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 00:01:00.000,2008.01.17 21:30:00.0000000,1985-01-11
3,9,442,1,no,2007-11-27,36,árazó,180,2008,Budapest,...,2006,12,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 09:34:21.000,2008.01.17 21:30:00.0000000,1982-09-04
4,10,442,1,ffi,2007-11-26,34,mérnök,180,2008,Budapest,...,2006,12,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 09:46:36.000,2008.01.17 21:30:00.0000000,1984-07-17

In [5]:
df['reservation_time'] = df[['foglalas napja','foglalas ideje_oraperc']].apply(' '.join,axis=1)

In [15]:
df['journey_start_time'] = df[['indulas napja','indulasi ido']].apply(' '.join,axis=1)

In [17]:
df['ajanlat datuma'] = pd.to_datetime(df['ajanlat datuma'])

In [18]:
df.rename(columns={'ajanlat datuma':'date_of_offer'},inplace=True)

In [20]:
df = df.drop('foglalas napja',axis=1)

In [22]:
df = df.drop('foglalas ideje_oraperc',axis=1)

In [23]:
df = df.drop('indulas napja',axis=1)

In [24]:
df = df.drop('indulasi ido',axis=1)

In [26]:
df['utas regisztracios datuma'] = pd.to_datetime(df['utas regisztracios datuma'])

In [27]:
df.rename(columns={'utas regisztracios datuma':'passenger_registration_date'},inplace=True)

In [30]:
df['passenger_birth_date'] = pd.to_datetime(df['utas szuletesi datuma'])

In [33]:
df = df.drop('utas szuletesi datuma',axis=1)

In [36]:
df.rename(columns={'foglalt helyek szama':'no_reserver_seats'},inplace=True)

In [38]:
df.rename(columns={'utas neme':'passenger_gender'},inplace=True)

In [39]:
pd.get_dummies(df,columns=['passenger_gender'])

,Azonosito,autosajanlatID,no_reserver_seats,passenger_registration_date,utas kora,utas foglalkozasa,utazas tipusa,segedID,utazas eve,indulas varosa,...,sofor neme,sofõr szuletesi ideje,date_of_offer,max utasszám,sofor reg datuma,reservation_time,journey_start_time,passenger_birth_date,passenger_gender_ffi,passenger_gender_no
0,3,293,1,2007-12-29,36,NaN,utazas,121,2008,Miskolc,...,no,1979.07.04,2008-01-04,3,2008-01-04,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000,1982-10-01,0,1
1,7,405,1,2007-11-28,34,Gépészmérnök,utazas,164,2008,Budapest,...,ffi,1976.06.19,2008-01-11,3,2007-12-21,2008.01.11 19:00:16.000,2008.01.16 07:00:00.0000000,1984-08-16,1,0
2,8,440,1,2008-01-02,33,NaN,utazas,180,2008,Budapest,...,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 00:01:00.000,2008.01.17 21:30:00.0000000,1985-01-11,1,0
3,9,442,1,2007-11-27,36,árazó,utazas,180,2008,Budapest,...,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 09:34:21.000,2008.01.17 21:30:00.0000000,1982-09-04,0,1
4,10,442,1,2007-11-26,34,mérnök,utazas,180,2008,Budapest,...,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 09:46:36.000,2008.01.17 21:30:00.0000000,1984-07-17,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863647,868218,23063266,1,2013-12-04,118,NaN,utazas,2820073,2015,Szeged,...,ffi,1985-03-07,2015-12-31,4,2012-08-01,2015.12.30 21:18:21.000,2015.12.31 19:30:00.0000000,NaT,1,0
863648,868219,23063266,1,2015-10-29,118,NaN,utazas,2820073,2015,Szeged,...,ffi,1985-03-07,2015-12-31,4,2012-08-01,2015.12.31 17:53:36.000,2015.12.31 19:30:00.0000000,NaT,1,0
863649,868220,23066932,1,2015-09-27,30,NaN,utazas,2820193,2015,Miskolc,...,ffi,1992-01-20,2015-12-31,3,2015-11-22,2015.12.31 17:02:36.000,2015.12.31 19:37:00.0000000,1988-01-14,0,1
863650,868221,23068405,1,2015-03-04,118,NaN,utazas,2820337,2015,Szekszárd,...,ffi,NaN,2015-12-31,4,2015-08-07,2015.12.31 19:09:49.000,2015.12.31 19:45:00.0000000,NaT,0,1
863651,868222,23074756,1,2015-12-31,118,NaN,utazas,2820961,2015,Budapest,...,ffi,1986-06-30,2015-12-31,3,2015-10-02,2015.12.31 12:19:34.000,2015.12.31 23:15:00.0000000,NaT,0,1

In [42]:
df.rename(columns={'utas kora':'passenger_age'},inplace=True)

In [44]:
df.rename(columns={'utas foglalkozasa':'passenger_job'},inplace=True)

In [46]:
df = df.drop('utazas tipusa',axis=1)

In [48]:
df.rename(columns={'indulas orszaga':'origin_country'},inplace=True)

In [49]:
df.rename(columns={'indulas varosa':'origin_city'},inplace=True)

In [50]:
df.rename(columns={'erkezes orszaga':'destination_country'},inplace=True)

In [54]:
df.rename(columns={'utazas eve':'year_of_trip'},inplace=True)

In [55]:
df.rename(columns={'erkezes varosa':'destination_city'},inplace=True)

In [57]:
df.rename(columns={'utdij':'trip_fee'},inplace=True)

In [59]:
df.rename(columns={'pénznem':'currency'},inplace=True)

In [62]:
df.rename(columns={'hazai vagy nemzetkozi':'national_or_international'},inplace=True)

In [63]:
df.rename(columns={'foglalási napok (utazas napja-foglalas napja)':'booking_interval'},inplace=True)

In [64]:
df.rename(columns={'magan vagy uzleti':'business_or_non_business'},inplace=True)

In [65]:
df.rename(columns={'autok gyartasi eve':'car_year_of_production'},inplace=True)

In [66]:
df.rename(columns={'autok életkora':'car_age'},inplace=True)

In [67]:
df['car_age'] = pd.to_numeric(df['car_age'])
# itt van olyan köre az adatoknak, ami nem értelmezhető <= TODO: megnézni mennyi rekordot érint

ValueError: Unable to parse string "#ÉRTÉK!" at position 68209