In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/raw_data_2.csv',encoding='ISO-8859-1', on_bad_lines='skip',delimiter=';',low_memory=False)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863652 entries, 0 to 863651
Data columns (total 31 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Azonosito                                      863652 non-null  int64
 1   autosajanlatID                                 863652 non-null  int64
 2   foglalt helyek szama                           863652 non-null  int64
 3   utas neme                                      863652 non-null  object
 4   passenger_registration_date                    858854 non-null  datetime64[ns]
 5   utas szuletesi datuma                          420208 non-null  object
 6   utas kora                                      863652 non-null  int64
 7   utas foglalkozasa                              215865 non-null  object
 8   utazas tipusa                                  863652 non-null  object
 9   segedID                                        863652 non-null  int64
 10  utazas eve                                     863652 non-null  int64
 11  indulas varosa                                 863652 non-null  object
 12  indulas orszaga                                863652 non-null  object
 13  erkezesi ido                                   863652 non-null  object
 14  erkezes varosa                                 863652 non-null  object
 15  erkezes orszaga                                863652 non-null  object
 16  utdij                                          863652 non-null  int64
 17  pénznem                                        863652 non-null  object
 18  hazai vagy nemzetkozi                          863652 non-null  object
 19  foglalási napok (utazas napja-foglalas napja)  863652 non-null  int64
 20  magan vagy uzleti                              863652 non-null  object
 21  autok gyartasi eve                             863652 non-null  object
 22  autok életkora                                 863652 non-null  object
 23  sofor neme                                     863652 non-null  object
 24  sofõr szuletesi ideje                          489253 non-null  object
 25  date_of_offer                                  863652 non-null  datetime64[ns]
 26  max utasszám                                   863652 non-null  int64
 27  sofor reg datuma                               832042 non-null  object
 28  reservation_time                               863652 non-null  object
 29  journey_start_time                             863652 non-null  object
 30  passenger_birth_date                           420208 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(9), object(19)
memory usage: 204.3+ MB

In [34]:
df.head()

,Azonosito,autosajanlatID,foglalt helyek szama,utas neme,passenger_registration_date,utas kora,utas foglalkozasa,utazas tipusa,segedID,utazas eve,...,autok gyartasi eve,autok életkora,sofor neme,sofõr szuletesi ideje,date_of_offer,max utasszám,sofor reg datuma,reservation_time,journey_start_time,passenger_birth_date
0,3,293,1,no,2007-12-29,36,NaN,utazas,121,2008,...,2007,11,no,1979.07.04,2008-01-04,3,2008-01-04,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000,1982-10-01
1,7,405,1,ffi,2007-11-28,34,Gépészmérnök,utazas,164,2008,...,2007,11,ffi,1976.06.19,2008-01-11,3,2007-12-21,2008.01.11 19:00:16.000,2008.01.16 07:00:00.0000000,1984-08-16
2,8,440,1,ffi,2008-01-02,33,NaN,utazas,180,2008,...,2006,12,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 00:01:00.000,2008.01.17 21:30:00.0000000,1985-01-11
3,9,442,1,no,2007-11-27,36,árazó,utazas,180,2008,...,2006,12,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 09:34:21.000,2008.01.17 21:30:00.0000000,1982-09-04
4,10,442,1,ffi,2007-11-26,34,mérnök,utazas,180,2008,...,2006,12,ffi,1985.03.27,2008-01-15,4,2007-11-26,2008.01.16 09:46:36.000,2008.01.17 21:30:00.0000000,1984-07-17

In [5]:
df['reservation_time'] = df[['foglalas napja','foglalas ideje_oraperc']].apply(' '.join,axis=1)

In [15]:
df['journey_start_time'] = df[['indulas napja','indulasi ido']].apply(' '.join,axis=1)

In [17]:
df['ajanlat datuma'] = pd.to_datetime(df['ajanlat datuma'])

In [18]:
df.rename(columns={'ajanlat datuma':'date_of_offer'},inplace=True)

In [20]:
df = df.drop('foglalas napja',axis=1)

In [22]:
df = df.drop('foglalas ideje_oraperc',axis=1)

In [23]:
df = df.drop('indulas napja',axis=1)

In [24]:
df = df.drop('indulasi ido',axis=1)

In [26]:
df['utas regisztracios datuma'] = pd.to_datetime(df['utas regisztracios datuma'])

In [27]:
df.rename(columns={'utas regisztracios datuma':'passenger_registration_date'},inplace=True)

In [30]:
df['passenger_birth_date'] = pd.to_datetime(df['utas szuletesi datuma'])

In [33]:
df = df.drop('utas szuletesi datuma',axis=1)