In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/raw_data_2.csv',encoding='ISO-8859-1', on_bad_lines='skip',delimiter=';',low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863652 entries, 0 to 863651
Data columns (total 32 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Azonosito                                      863652 non-null  int64
 1   autosajanlatID                                 863652 non-null  int64
 2   foglalt helyek szama                           863652 non-null  int64
 3   foglalas napja                                 863652 non-null  object
 4   foglalas ideje_oraperc                         863652 non-null  object
 5   utas neme                                      863652 non-null  object
 6   utas regisztracios datuma                      858854 non-null  object
 7   utas szuletesi datuma                          420208 non-null  object
 8   utas kora                                      863652 non-null  int64
 9   utas foglalkozasa                              215865 non-null  object
 10  utazas tipusa                                  863652 non-null  object
 11  segedID                                        863652 non-null  int64
 12  utazas eve                                     863652 non-null  int64
 13  indulas napja                                  863652 non-null  object
 14  indulasi ido                                   863652 non-null  object
 15  indulas varosa                                 863652 non-null  object
 16  indulas orszaga                                863652 non-null  object
 17  erkezesi ido                                   863652 non-null  object
 18  erkezes varosa                                 863652 non-null  object
 19  erkezes orszaga                                863652 non-null  object
 20  utdij                                          863652 non-null  int64
 21  pénznem                                        863652 non-null  object
 22  hazai vagy nemzetkozi                          863652 non-null  object
 23  foglalási napok (utazas napja-foglalas napja)  863652 non-null  int64
 24  magan vagy uzleti                              863652 non-null  object
 25  autok gyartasi eve                             863652 non-null  object
 26  autok életkora                                 863652 non-null  object
 27  sofor neme                                     863652 non-null  object
 28  sofõr szuletesi ideje                          489253 non-null  object
 29  ajanlat datuma                                 863652 non-null  object
 30  max utasszám                                   863652 non-null  int64
 31  sofor reg datuma                               832042 non-null  object
dtypes: int64(9), object(23)
memory usage: 210.9+ MB

In [16]:
df.head()

,Azonosito,autosajanlatID,foglalt helyek szama,foglalas napja,foglalas ideje_oraperc,utas neme,utas regisztracios datuma,utas szuletesi datuma,utas kora,utas foglalkozasa,...,magan vagy uzleti,autok gyartasi eve,autok életkora,sofor neme,sofõr szuletesi ideje,ajanlat datuma,max utasszám,sofor reg datuma,reservation_time,journey_start_time
0,3,293,1,2008.01.05,22:17:59.000,no,2007.12.29,1982.10.01,36,NaN,...,magan,2007,11,no,1979.07.04,2008.01.04,3,2008-01-04,2008.01.05 22:17:59.000,2008.01.06 17:30:00.0000000
1,7,405,1,2008.01.11,19:00:16.000,ffi,2007.11.28,1984.08.16,34,Gépészmérnök,...,magan,2007,11,ffi,1976.06.19,2008.01.11,3,2007-12-21,2008.01.11 19:00:16.000,2008.01.16 07:00:00.0000000
2,8,440,1,2008.01.16,00:01:00.000,ffi,2008.01.02,1985.01.11,33,NaN,...,magan,2006,12,ffi,1985.03.27,2008.01.15,4,2007-11-26,2008.01.16 00:01:00.000,2008.01.17 21:30:00.0000000
3,9,442,1,2008.01.16,09:34:21.000,no,2007.11.27,1982.09.04,36,árazó,...,magan,2006,12,ffi,1985.03.27,2008.01.15,4,2007-11-26,2008.01.16 09:34:21.000,2008.01.17 21:30:00.0000000
4,10,442,1,2008.01.16,09:46:36.000,ffi,2007.11.26,1984.07.17,34,mérnök,...,magan,2006,12,ffi,1985.03.27,2008.01.15,4,2007-11-26,2008.01.16 09:46:36.000,2008.01.17 21:30:00.0000000

In [5]:
df['reservation_time'] = df[['foglalas napja','foglalas ideje_oraperc']].apply(' '.join,axis=1)

In [15]:
df['journey_start_time'] = df[['indulas napja','indulasi ido']].apply(' '.join,axis=1)

In [17]:
df['ajanlat datuma'] = pd.to_datetime(df['ajanlat datuma'])